<div class="Create-decision-form">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 50px; margin-top: 14px; font-size: 28px;">
        <span aria-hidden="true">×</span>
    </button>
    <form id="CreateDecisionForm">
        <input data-val="true" data-val-required="The ID field is required." id="Edit-Decision-ID" type="hidden" value="">
        <h2 class="text-center">Edit CV<br></h2>
        <div class="form-group">
            <label>
                <strong>Name</strong>
                <br>
            </label>
            <input class="form-control" type="text" id="Edit-Decision-Name" placeholder="Name" value=""/>
        </div>
        <div class="form-group">
            <label>
                <strong>Birthday</strong>
                <br>
            </label>
            <br>
            <input class="form-control" name="name2" type="datetime" id="edit-datepicker" placeholder="Birthday" value=""/>
        </div>
        <div class="form-group">
            <label>
                <strong>Married</strong>
                <br>
            </label>
            <input class="form-control" type="checkbox" id="edit-Decision-Married" placeholder="Married" value=""/>
        </div>
        <div class="form-group">
            <label>
                <strong>Phone</strong>
                <br>
            </label>
            <br>
            <input class="form-control" type="text" id="edit-Decision-Phone" placeholder="Phone" value=""/>
        </div>
        <div class="form-group">
            <label>
                <strong>Salary</strong>
                <br>
            </label>
            <br>
            <input class="form-control" type="number" id="edit-Decision-Salary" placeholder="Salary" value=""/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" id="EditDecisionForm-submit" type="submit">Submit</button>
        </div>
    </form>
</div>